/* styles.css */
:root {
  --background-color: #dfeeef;
  --link-color: #ee481c;
  --text-color: #053220;
  --blockquote: #053220a6;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
}

.container {
  display: flex;
}

/* HEADER */
header {
  background-color: var(--background-color);
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 20px;
}

header h1 span {
  color: var(--link-color);
}

header .logo {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 10px;
}

header .logo a {
  color: var(--text-color);
  text-decoration: none;
}

/* SIDEBAR */
.sidebar {
  width: 25%;
  background-color: var(--background-color);
  padding: 10px 20px 20px 4px;
  box-sizing: border-box;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  text-align: right;
}

.sidebar nav ul li {
  margin: 8px 20px;
}

.sidebar nav ul li a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
}

.sidebar nav ul li a:hover {
  text-decoration: underline;
  color: var(--link-color);
}

/* CONTENT */
.content {
  width: 70%;
  max-width: 600px;
  padding: 20px;
  box-sizing: border-box;
}

.content article h1 span {
  color: var(--link-color);
}

.content article {
  margin-bottom: 40px;
}

.content article h1 {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}

.content article h2 {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 10px;
}

.content article p {
  margin-bottom: 10px;
  font-size: 12px;
}

.content article .date {
  font-size: 12px;
  color: var(--blockquote);
  margin-top: -6px;
}

.content article blockquote {
  border-left: 1px solid var(--blockquote);
  padding-left: 15px;
  margin-left: 0;
  color: var(--blockquote);
}

.content article a {
  font-size: 12px;
  color: var(--link-color);
  text-decoration: none;
}

/* POLICY */
.content .policy div {
  display: flex;
  align-items: center;
}

.content .policy div img {
  width: 30px;
  margin-right: 10px;
}

.content .policy h1 {
  font-size: 16px;
  font-weight: 600;
}

.content .policy h2 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: -10px;
}

.content .policy p {
  color: var(--text-color);
  margin-bottom: 20px;
}

.content .policy a {
  color: var(--link-color);
  text-decoration: none;
}
